body{
    background-color:pink;
}
div{
    text-align:center;
    color:black;
   
}
p{
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    border:none;
   color:white;
}